
body {
  background-color: #878787;
  width: 1000px;
  height: 100px;
}

.title {
  background: rgb(17, 204, 237);
  width: 1270px;
  height: 30px;
  padding: 30px;
  border-radius: 30px;
  position: relative;
  top: 0px;
  left: 12px;
}

#insideTitle {
  background: rgb(123, 228, 237);
  width: 122%;
  height: 30px;
  padding: 20px;
  border-radius: 20px;
  margin:auto;
  position: relative;
  top: -82px;
  left: 45px;
}
